{% extends 'Home/base.html' %}
{% block body %}
<div class="page-wrapper">
  <div class="content container-fluid">
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col"><h3 class="page-title">Departments</h3></div>
        <div class="col-auto"><a href="{% url 'add_department' %}" class="btn btn-primary">Add Department</a></div>
      </div>
    </div>
    <div class="card"><div class="card-body table-responsive">
      <table class="table table-hover">
        <thead><tr><th>Name</th><th>Code</th><th>Description</th><th>Action</th></tr></thead>
        <tbody>
          {% for department in departments %}
          <tr>
            <td>{{ department.name }}</td>
            <td>{{ department.code }}</td>
            <td>{{ department.description|default:"-" }}</td>
            <td><a href="{% url 'edit_department' department.id %}" class="btn btn-sm btn-success">Edit</a></td>
          </tr>
          {% empty %}
          <tr><td colspan="4">No departments yet.</td></tr>
          {% endfor %}
        </tbody>
      </table>
    </div></div>
  </div>
</div>
{% endblock %}

